/* 3. Відвідайте веб-сайт Google Fonts https://fonts.google.com/. знайдіть шрифт Roboto, додайте шрифт «Roboto» за допомогою посилання на сторінку index.html.

4. базовий розмір шрифта для кореневого елемента = 100%

визначити розмір шрифта для body, що успадковує розмір шрифта кореневого елемента, збільшений на 40 відсотків

визначити розмір шрифта для h1, що успадковує розмір шрифта кореневого елемента, збільшений на 140 відсотків */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

html {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
      "wdth" 100;
} 

body {
    font-size: 140%;
}

h1 {
    font-size: 240%;
}

/* 2. Відредагуйте файл css/main.css

визначити для усіх елементів h1, h2, h3 на веб-сторінці властивість колір тексту - сірий. */


h1, h2, h3 {  
    color: gray; 
} 


/* визначити для елемента з ідентифікатором main властивість color: #e60202;. */

#main {
    color: #e60202;
}


/* визначити для елемента з класом h2 властивість color: червоний. */

.h2 {
    color: red;

}

/* встановити для елемента з класом heading колір тексту у зелений. */

.heading {
    color: green;
}


