/* - Встановити background для класу body як лінійний градієнт, що напрвлений вправо, та моє такі точки зупинки: 5%, 17%, 40%, 85%, 95%. Для кожної точки зупинки встановити колір, що змінюється від світлозеленго до темнозеленго.  */

body 
    {
        background: linear-gradient(to right, 
        rgb(189, 255, 206) 5%, 
        rgb(125, 201, 144) 17%, 
        rgb(74, 145, 92) 40%, 
        rgb(34, 97, 50) 85%, 
        rgb(6, 48, 17) 95%);
    }


/* - Встановити background для класу negative як лінійний градієнт, що напрвлений вліво, та моє такі точки зупинки: -50%, -10%, 0%, 100%, 150%. Для кожної точки зупинки встановити колір, що змінюється від світлосинього до темносинього.  */

.negative 
    {
        background: linear-gradient(to left, 
        rgb(97, 211, 237) -50%, 
        rgb(97, 170, 237) -10%,
        rgb(54, 127, 194) 0%, 
        rgb(17, 77, 133) 100%, 
        rgb(6, 54, 99) 150%);
    }


/* - Встановити background для класу percents як лінійний градієнт, що напрвлений вниз, та моє такі точки зупинки: 2em, 4em, 8em, 16em, 32em, 64em, 128em. Для кожної точки зупинки встановити колір, що змінюється від світлозеленого до темнозеленого.  */

.percents 
    {   
        background: linear-gradient(to bottom,
        rgb(189, 255, 206) 2em, 
        rgb(125, 201, 144) 4em, 
        rgb(74, 145, 92) 8em, 
        rgb(34, 97, 50) 16em, 
        rgb(6, 48, 17) 32em,
        rgb(3, 43, 16) 64em)
        rgb(1, 33, 11) 128em;
    }

/* - Встановити background для класу radial два радіальних градієнта з типом ellipse, перший з яких містить 2 кольори - помаранчевмй та прозорий і напрвлений вверх, а другий містить 2 кольори - червонмй та прозорий і напрвлений вниз.  */

.radial 
    {   
        background: 
        radial-gradient(ellipse at top, orange, transparent),
        radial-gradient(ellipse at bottom, red, transparent);
    }