* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 .5rem ;
}

/* - Вирівняйте елементи навігаційної панелі nav по глризонталі так, щоб Brand Name розташувався зліва, а пункти меню - справа. 
.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 .5rem ;
} */


.link-list {
  display: flex;
  margin: 0;
  list-style: none;
}

.link {
  padding: .5rem;
}

.link:hover {
  background-color: #777;
}

.link a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 700px;
    justify-content: space-between;
    }

 .grow-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    }

   .wrapper .item-blue {
      background-color: blue;
    }

    .grow-wrapper .item-blue {
      background-color: blue;
      flex-grow: 3;
  }
  
  .item-orange {
      background-color:orange;  
  }
  .wrapper .item-green {
      background-color:green;
  }

    .grow-wrapper .item-green {
      background-color:green;
      flex-grow: 1;
  }

  .item {
      color: white;
      width: 100px;
  }

  .flexbox {
  --min: 30ch;

  display: flex;
  flex-wrap: wrap;

  gap: 1rem;
}

.card {
  flex: 1 1 var(--min);
  background: #6d4242;
  padding: 1rem;
}